<button type="button" class="btn btn-primary me-5" data-bs-toggle="modal" data-bs-target="#exampleModal">
    User Login
  </button>
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-danger" id="exampleModalLabel">Change item form</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form #changeSingleItemForm="ngForm" (submit)="changeSingleItem(changeSingleItemForm)">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Item Actual</label>
              <input type="text" class="form-control" name="actual" aria-describedby="emailHelp">
              <div id="emailHelp" class="form-text">Change of item stock</div>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Item Target</label>
              <input type="text" class="form-control" name="target">
              <div id="passwordHelp" class="form-text">Update current item target</div>
            </div>
            <button class="btn btn-primary">Update</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  