<footer class="footer">
  <p class="footer__copyright">© 2021 TriDungNgo</p>
  <nav class="menu">
    <ul class="menu__footer">
      <li>
        <a href="./index.html" class="menu__main">Home</a>
      </li>
      <li><a href="./about.html" class="menu__project">About</a></li>
    </ul>
    <ul class="menu__socials">
      <li>
        <a href="https://github.com/" class="menu__socials menu__socials_github"
          ><img src="../assets/img/google-plus.png" alt="GitHub"
        /></a>
      </li>
      <li>
        <a href="https://facebook/" class="menu__socials menu__socials_facebook"
          ><img src="../assets/img/google-plus.png"
        /></a>
      </li>
    </ul>
  </nav>
</footer>
