<header class="header-desktop">
    <div class="header">
        <div class="header_logo">
            <img class="logo" src="../assets/img/angular_icon.png">
            <p class="thick" style="font-family:courier;">Coolschrank</p>
        </div>
        <div class="header_icons">
            <img class="logo" src="../assets/img/google-plus.png">
            <img class="logo" src="../assets/img/google-plus.png">
            <img class="logo" src="../assets/img/google-plus.png">
        </div>
    </div>
</header>