<!-- BEGIN HEADER DESKTOP-->
<app-header></app-header>
<!-- END HEADER DESKTOP-->

<div class="page-wrapper">

  <!-- SIDEBAR AND MAIN-->
  <div class="main">
    <div class="sidebar">
      <div class="sidebar_fridge">
        <img src="../assets/img/fridge_icon_final.png" alt="" />
        <p class="sidebar_p">Fridges</p>
      </div>
      <div class="sidebar_item">
        <img src="../assets/img/fridge_open_2.png" alt="" />
        <p class="sidebar_p">Items</p>
      </div>
    </div>
    <div class="main_container">
        <app-main></app-main>
    </div>
  </div>
</div>

<!-- END SIDEBAR -->

<app-footer></app-footer>
