
  <div class="fridge_top">
    <label class="fridge_title">Generate new fridge:</label>

    <button class="fridge_btn" (click)="addFridge()">Generate</button>
    <p class="fridge_id">
      Your new fridge has the id of: <br />{{ newFridge?.id }}
    </p>
  </div>

  <div>
    <h3 class="add_items">Search fridge: </h3>
    <form #getFridgeForm="ngForm" class="submit_fridge">
      <input
        type="text"
        class="form-control"
        name="id"
        placeholder="Enter your fridge id..."
        required
        ngModel
      />

      <button class="fridge_btn" (click)="getFridge(getFridgeForm)">
        Submit
      </button>
    </form>
  </div>

  <button class="button" (click)="toggle()" id="toggleBtn">{{ buttonName }}</button>

  
  
  <!-- <ng-container *ngIf="showListFridge" class="container-fridge"> -->
  <ng-container *ngIf="showListFridge" class="container">
    <!-- <p>You currently have {{ count }} fridges</p>
    <div class="fridge" *ngFor="let fridgeId of fridgeList">
      
      <img class="fridge-img" src="../../../assets/img/fridge_icon_final.png" />
      <p class="fridge-id">{{ fridgeId }}</p>
    </div> -->
    <div class="row">
        <div class="col-3" *ngFor="let fridgeId of fridgeList">
          <div class="card mb-4" (click)="changeFridgeStatus(fridgeId)">
          <div class="card card-product-grid">
            <a href="#" class="img-wrap"> 
              <img [src]="fridgeId !== selectedFridgeId ? '../../../assets/img/fridge_icon_final.png' : '../../../assets/img/fridge_open_2.png'"> 
            </a>
            <figcaption class="info-wrap">
              <!-- <a href="#" class="title">{{ fridgeId }}</a> -->
              <p class="title">ID: {{ fridgeId }}</p>
            </figcaption>
          </div>
          </div>
        </div>
      </div>
  </ng-container>

  

  <div *ngIf="itemList.length > 0; else isEmpty" >
    <table class="table table-bordered">
      <thead class="table-dark">
        <tr>
          <th>Item id</th>
          <th>Item name</th>
          <th>Item actual</th>
          <th>Item target</th>
          <th>Edit item</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of itemList">
          <td>{{ item?.id }}</td>
          <td>{{ item?.name }}</td>
          <td>{{ item?.actual }}</td>
          <td>{{ item?.target }}</td>
          <td><app-modal-form [itemChild]="item" [fridgeChild]="fridge" ></app-modal-form></td>
        </tr>
      </tbody>
    </table>
  </div>
  <ng-template #isEmpty>
    Your fridge is currently empty
  </ng-template>


  <div>
    <h3 class="add_items">Add new item to your fridge</h3>
    <form
      #addItemForm="ngForm"
      (submit)="addItem(addItemForm)"
      class="add_form"
    >
      <input
        type="text"
        class="form-control"
        name="fridgeId"
        placeholder="Fridge Id"
        required
        ngModel
      />
      <input
        type="text"
        class="form-control"
        name="id"
        placeholder="Item Id"
        required
        ngModel
      />
      <input
        type="text"
        class="form-control"
        name="name"
        placeholder="Item Name"
        required
        ngModel
      />
      <input
        type="text"
        class="form-control"
        name="actual"
        placeholder="Item Actual"
        ngModel
      />
      <input
        type="text"
        class="form-control"
        name="target"
        placeholder="Item Target"
        ngModel
      />
      <button class="fridge_btn">Add items</button>
    </form>
    <!-- <app-item></app-item> -->
  </div>

