.table {
  text-align: center;
}

h3 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
}

h3.add_items {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
}

p.thick {
  font-weight: bold;
}

.header-desktop {
  width: 100%;
}

.header_logo {
  margin-left: 120px;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 30rem;
  margin-right: 30rem;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: yellow;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  box-sizing: border-box;
}

.logo {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.main {
  display: grid;
  grid-template-columns: 0.5fr 2.5fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "sidebar main_container"
    "sidebar bottom_container";
}

.sidebar {
  grid-area: sidebar;
  background-color: blueviolet;
  border: brown solid 5px;
  padding: 5rem 5rem;
}

.main_container {
  grid-area: main_container;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.bottom_container {
  grid-area: bottom_container;
  border: brown solid 5px;
  padding: 5rem 5rem;
}

.fridge_main {
  border: brown solid 5px;
  border-bottom: none;
  padding: 0rem 5rem 5rem 5rem;
  display: inline-block;
  width: 1000px;
}

.fridge_about {
  border-bottom: none;
  padding: 2rem 5rem 23.2rem 5rem;
  display: inline-block;
}

.fridge_top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fridge_title {
  font-size: 5rem;
}

.fridge_btn {
  background-color: cornsilk;
  width: 30%;
  margin: auto;
  border-radius: 5%;
  height: 50px;
}

.fridge_btn:hover {
  background-color: darkgreen;
}

.fridge_id {
  margin: 2rem auto;
  font-size: 1.5rem;
  text-align: center;
}

#fridge_id_small {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.container-fridge {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  row-gap: 3rem;
  justify-content: start;
  align-items: center;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  margin-right: 5rem;
  align-content: flex-start;
}

.fridge-img {
  width: 40%;
  object-fit: cover;
}

.fridge {
  width: 20%;
  align-items: center;
  text-align: center;
}

.submit_fridge {
  display: flex;
  flex-direction: row;
  width: 60%;
  justify-content: space-between;
  align-items: stretch;
  margin-top: 20px;
  margin-bottom: 70px;
  margin-left: 150px;
}

.add_items {
  margin: 2rem;
}

.add_form {
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.add_form:nth-of-type(1) {
  margin-bottom: 2rem;
}

.add_form input {
  margin: 0.5rem auto;
}

.footer {
  margin: 0 auto;
  display: flex;
  box-sizing: border-box;
  padding: 0 4%;
  justify-content: space-around;
  align-items: center;
  min-height: 80px;
  border: brown solid 5px;
}

.footer__copyright {
  font-family: Roboto, sans-serif;
  color: #b6bcbf;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.menu {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.menu__footer {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  width: 80%;
}

.menu__socials {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  list-style-type: none;
}

.menu__main {
  text-decoration: none;
  list-style-type: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  padding-bottom: 28px;
  color: black;
}

.menu__project {
  text-decoration: none;
  list-style-type: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  padding-bottom: 28px;
  color: black;
}

img {
  max-width: 30%;
  height: auto;
  padding-top: 10px;
}

p.sidebar_p {
  margin-left: 0;
  margin-right: 0;
  text-align: center;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#buttonShow {
  align-self: center;
  margin: auto;
}

#img_main {
  max-width: 100%;
  height: auto;
  padding-top: 0px;
  padding-bottom: 27px;
}

#img_banner {
  max-width: 100%;
  display: block;
  width: 100%;
}

.btn_show {
  display: flex;
  justify-content: flex-end;
}

.link_router {
  padding-left: 0px;
}
