<div class="fridge_top">
  <p></p>
  <label class="fridge_title">Generate new fridge:</label>

  <button class="fridge_btn" (click)="addFridge()">Generate</button>
  <p class="fridge_id">Your new fridge id: <br />{{ newFridge?.id }}</p>
</div>
<div class="btn_show" *ngIf="fridgeList.length > 0">
  <button
    class="btn btn-primary float-right"
    style="margin-bottom: 10px"
    (click)="toggle()"
    id="toggleBtn"
  >
    {{ buttonName }}
  </button>
  <p></p>
</div>
<ng-container *ngIf="showListFridge" class="container">
  <div class="row">
    <div class="col-3" *ngFor="let fridgeId of fridgeList">
      <div class="card mb-4" (click)="changeFridgeStatus(fridgeId)">
        <div class="card card-product-grid text-center">
          <span class="img-wrap">
            <img
              [src]="
                fridgeId !== selectedFridgeId
                  ? '../../../assets/img/fridge_close_mini.png'
                  : '../../../assets/img/fridge_open_mini.png'
              "
            />
          </span>
          <figcaption class="info-wrap">
            <p class="title" id="fridge_id_small">ID: {{ fridgeId }}</p>
            <div *ngIf="itemList.length == 0 && selectedFridgeId === fridgeId">
              <p>There is nothing in here</p>
            </div>
          </figcaption>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<div>
  <h3 class="add_items">Search fridge:</h3>
  <form #getFridgeForm="ngForm" class="add_form">
    <input
      type="text"
      class="form-control"
      name="id"
      placeholder="Enter your fridge id..."
      required
      ngModel
    />

    <button class="fridge_btn" (click)="getFridge(getFridgeForm)">
      Submit
    </button>
  </form>
</div>

<div *ngIf="itemList.length > 0">
  <table class="table table-bordered">
    <thead class="table-dark">
      <tr>
        <th>Item id</th>
        <th>Item name</th>
        <th>Item actual</th>
        <th>Item target</th>
        <th>Edit item</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of itemList">
        <td>{{ item?.id }}</td>
        <td>{{ item?.name }}</td>
        <td>{{ item?.actual }}</td>
        <td>{{ item?.target }}</td>
        <td>
          <app-modal-form
            [itemChild]="item"
            [fridgeChild]="fridge"
          ></app-modal-form>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div>
  <h3 class="add_items">Add new item to your fridge</h3>
  <form #addItemForm="ngForm" (submit)="addItem(addItemForm)" class="add_form">
    <input
      type="text"
      class="form-control"
      name="fridgeId"
      placeholder="Fridge Id"
      required
      ngModel
    />
    <input
      type="text"
      class="form-control"
      name="id"
      placeholder="Item Id"
      required
      ngModel
    />
    <input
      type="text"
      class="form-control"
      name="name"
      placeholder="Item Name"
      required
      ngModel
    />
    <input
      type="text"
      class="form-control"
      name="actual"
      placeholder="Item Actual"
      ngModel
    />
    <input
      type="text"
      class="form-control"
      name="target"
      placeholder="Item Target"
      ngModel
    />
    <button class="fridge_btn">Add items</button>
  </form>
</div>
